################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NerdStoreEnterprise/.vs/NerdStoreEnterprise/v16/Server/sqlite3/db.lock
